{% extends 'base.html' %}
{% block content %}

<h1>Poll Detail</h1>

<div>{{ poll.title }}</div>
<div>{{ poll.abstract }}</div>
<div>{{ poll.content }}</div>

<form action="{% url 'submit_poll' poll.id %}" method="POST">
  {% csrf_token %}
  {% for question in poll.question_set.all %}
    <div>{{ question.question }}</div>
      <label>
        <input name="response{{question.id}}" type="radio" value="1"/>
        <span>Yes</span>
      </label>
      <label>
        <input name="response{{question.id}}" type="radio" value="2"/>
        <span>No</span>
      </label>
      <label>
        <input name="response{{question.id}}" type="radio" value="0" checked/>
        <span>IDGAF</span>
      </label>
  {% endfor %}
  <input type="submit" value="submit_poll"/>
</form>

<a href="{% url 'polls_delete' poll.id %}">Delete Poll</a>
{% endblock %}